header {
    background-color: #64cbd4;
    color: #4de1b7;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.artigo-autor {
    font-weight: bold;
}

main {
    background-color: #0931e4;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

main img {
    width: 20px;
    height: 20px;
    display: block;
}

h2,
p,
button {
    margin-bottom: 12px;
}